/* 


*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    @apply font-sans;
} */

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

/* BUTTON SIZE */
.btn-sm {
    @apply px-4;
    @apply py-1;
    @apply text-sm;
}

.btn-md {
    @apply px-6;
    @apply py-2;
}

.btn-lg {
    @apply px-8;
    @apply py-3;
    @apply text-lg;
}

/* BUTTON VARIANT */
.btn-filled {
    @apply border-2;
}
.btn-outlined {
    @apply border-2;
}
.btn-text {
    @apply  bg-white/50 hover:bg-iris-100/50 dark:bg-iris-500/30 hover:dark:bg-iris-500/40;
}

/* BUTTON COLOUR */
.btn-iris.btn-filled:not(.disabled) {
    @apply border-iris-500 bg-iris-500 text-white hover:text-iris-500 hover:bg-white;
}
.btn-iris.btn-outlined:not(.disabled) {
    @apply border-iris-500 bg-white text-iris-500 hover:text-white hover:bg-iris-500;
}

.btn-jade.btn-filled:not(.disabled) {
    @apply border-jade-500 bg-jade-500 text-white hover:text-jade-500 hover:bg-white;
}
.btn-jade.btn-outlined:not(.disabled) {
    @apply border-jade-500 bg-white text-jade-500 hover:text-white hover:bg-jade-500;
}

.btn-red.btn-filled:not(.disabled) {
    @apply border-red-500 bg-red-500 text-white hover:text-red-500 hover:bg-white;
}
.btn-red.btn-outlined:not(.disabled) {
    @apply border-red-500 bg-white text-red-500 hover:text-white hover:bg-red-500;
}

.btn-grey.btn-filled:not(.disabled) {
    @apply border-grey-500 bg-grey-500 text-white hover:text-grey-500 hover:bg-white;
}
.btn-grey.btn-outlined:not(.disabled) {
    @apply border-grey-500 bg-white text-grey-500 hover:text-white hover:bg-grey-500;
}

.btn-rosa.btn-filled:not(.disabled) {
    @apply border-rosa-500 bg-rosa-500 text-white hover:text-rosa-500 hover:bg-white;
}
.btn-rosa.btn-outlined:not(.disabled) {
    @apply border-rosa-500 bg-white text-rosa-500 hover:text-white hover:bg-rosa-500;
}

/* .btn-primary {
    @apply border-iris-500 text-white bg-iris-500 hover:bg-white hover:text-iris-500 hover:border-iris-500 active:bg-iris-100;
}
.btn-secondary {
    @apply border-iris-500 text-iris-500 bg-white hover:bg-iris-500 hover:text-white active:bg-iris-600;
}
.btn-error {
    @apply border-red-500 text-red-500 bg-white hover:bg-red-500 hover:text-white active:bg-red-500;
}
.btn-success {
    @apply border-jade-500 text-jade-500 bg-white hover:bg-jade-500 hover:text-white active:bg-jade-300;
} */

/* INPUT */
.vui-input {
    @apply cursor-pointer h-14 py-3 flex px-4 justify-center border-2 border-iris-100 focus:border-iris-500 mt-2 text-sm lg:text-base font-light;
}

/* input[type="text"], */
.input-text {
    @apply text-grey-600 focus:text-grey-900  rounded-lg border-2 border-iris-100 focus:border-iris-500;
}
/* input[type="email"],  */
.input-email {
    @apply text-grey-600 focus:text-grey-900  rounded-lg border-2 border-iris-100 focus:border-iris-500;
}
/* input[type="tel"],  */
.input-tel {
    @apply text-grey-600 focus:text-grey-900  rounded-lg border-2 border-iris-100 focus:border-iris-500;
}
/* input[type="password"], */
.input-password {
    @apply text-grey-600 focus:text-grey-900  rounded-lg border-2 border-iris-100 focus:border-iris-500;
}
/* input[type="date"], */
.input-date {
    @apply text-grey-600 focus:text-grey-900  rounded-lg border-2 border-iris-100 focus:border-iris-500;
}
/* input[type="time"],  */
.input-time {
    @apply text-grey-600 focus:text-grey-900  rounded-lg border-2 border-iris-100 focus:border-iris-500;
}
/* input[type="color"], */
.input-color {
    @apply p-1 text-grey-600 focus:text-grey-900  rounded-lg border-2 border-iris-100 focus:border-iris-500;
}
/* select, */
.select {
    @apply text-grey-600 focus:text-grey-900  rounded-lg border-2 border-iris-100 focus:border-iris-500;
}

/* TOGGLE */
.toggle-checkbox:checked {
    @apply: right-0 border-jade-500;
    right: 0;
    border-color: #68D391;
}

.toggle-checkbox:checked + .toggle-label {
    @apply: bg-jade-500;
    background-color: #68D391;
}



